<form>
    <h1>Public Library: View details of the book</h1>
  <form>
  <TABLE class="table table-striped">
      <thead>
        <tr>
          <th>Title</th><th>Author</th><th>Categories</th><th>Publisher</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td id="detail-title"></td>
          <td id="detail-author"></td>
          <td id="detail-categories"></td>
          <td id="detail-publisher"></td>
        </tr>
      </tbody>
    </Table>
</form>
    <nav><br>
      <a href="#/showAllBooks">Back to main menu</a>
    </nav>